@use '../../common/scss/variables.scss' as *;
@use '../../common/scss/breakpoints.scss' as *;

.header {
  &--bg {
    display: flex;
    align-items: center;
    min-height: 72px;
    min-width: 100%;
    background-image: none;
    background-color: $color-blue;
    background-repeat: no-repeat;
  }

  &__container {
    @include desktop {
      width: 1440px;
      margin-inline: auto;
    }
  }

  &__bottom {
    @include tablet {
      display: flex;
      align-items: center;
      width: 100%;
    }

    @include tablet {
      margin: 0;
    }
  }

  &--size {
    margin: 10px 0px 13px 15px;
    font-size: 40px;

    @include desktop {
      margin: 0;
      padding: 10px 0px 13px 130px;
      font-size: 40px;
    }
  }
}
