@use '../common/scss/variables.scss' as *;

.table-holder {
  width: 100%;
  overflow-x: auto;
  background-color: $white-color;
  border-radius: 10px;
  margin-bottom: 23px;
}

.stats-table {
  width: 1180px;
  height: 49px;
  margin: auto;
  border-radius: 10px;
  font-size: 14px;
  display: table;
  border-collapse: collapse;
  border-spacing: 1px 0;
  table-layout: fixed;

  th,
  td {
    text-align: center;
    font-size: 16px;
    overflow: hidden;
    border-left: 1px solid white;
  }

  th {
    text-align: center;
    padding: 11px 0px 11px 0px;
    height: 49px;
    line-height: 27px;
    background-color: #3a80ba;
    color: #ffffff;
    font-weight: 400;
    font-size: 16px;
    white-space: nowrap;

    &:first-child {
      width: 64px;
      border-top-left-radius: 10px;
    }

    &:nth-child(2) {
      width: 151px;
    }

    &:nth-child(3) {
      width: 133px;
    }

    &:nth-child(4) {
      width: 239px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:nth-child(5) {
      width: 112px;
    }

    &:nth-child(6) {
      width: 147px;
    }

    &:nth-child(7) {
      width: 153px;
    }

    &:last-child {
      border-top-right-radius: 10px;
      width: 181px;
    }
  }

  td {
    padding: 6.25px 0px;
    line-height: 19.5px;
    text-align: center;
    vertical-align: middle;
    font-weight: 400;
    color: #4a4a4a;
    background-color: #ffffff;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: hidden;
    max-width: 239px;
    text-overflow: ellipsis;

    &:nth-child(4) {
      text-align: start;
      padding-inline: 24px;
    }

    &:first-child {
      text-align: center;
    }
  }

  tr:nth-child(even) td {
    background-color: $grey-color-third;
  }

  tr:nth-child(odd) td {
    background-color: $grey-color-alternate;
  }

  tr:last-child td {
    border-bottom: none;

    &:first-child {
      border-bottom-left-radius: 10px;
    }

    &:last-child {
      border-bottom-right-radius: 10px;
    }
  }
}
