$regular-weight: 400;
$bold-weight: 700;
$semiBold-weight: 600;

$white-color: #fff;
$color-black: #1a1a1a;
$grey-color: #7e7e7e;
$grey-color-alternate: #fbfbfb;
$grey-color-third: #f1f1f1;
$placeHolder-color: #b9b9b9;

$tablet-width: 768px;
$desktop-width: 1440px;
$color-blue: #3a80ba;
$color-grey-alternate: #b9b9b9;
$color-dark-blue: #1c3b55;
