@use 'variables.scss' as *;
@use 'breakpoints.scss' as *;

.footer {
  display: flex;
  flex-direction: column;
  padding-top: 26px;
  width: 100%;
  background-image: url('src/img/footer-bg.svg');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;

  &__form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 10px 0px 10px;
    background-color: $white-color;
    border-radius: 10px;
    border: 1px solid #f1f1f1;

    &:hover {
      border: 1px solid $color-blue;
    }

    @include tablet {
      width: 580px;
      height: 64px;
      margin: auto;
    }
  }

  &__input {
    display: flex;
    align-items: center;
    padding: 4px 0px 4px 20px;
    height: 60px;
    width: 100%;
    border-radius: 10px;
    border: none;

    ::placeholder {
      color: $color-grey-alternate;
    }

    @include desktop {
      height: 100%;
      width: 400px;
    }
  }

  &__btn {
    margin: 4px 4px 4px 0px;
    height: 50px;
    text-align: center;
    background-color: $color-blue;
    color: $white-color;

    @include tablet {
      width: 176px;
      height: 56px;
    }
  }

  &__bottom {
    margin: 24px 10px 31px 10px;

    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    @include desktop {
      margin: 24px 130px 31px 130px;
    }
  }

  &__logo {
    margin: 0;
    font-size: 20px;

    @include tablet {
      font-size: 30px;
    }

    @include desktop {
      font-size: 36px;
    }
  }

  &__rights {
    font-size: 16px;
    margin: 0;
    margin-block: 10px;

    @include tablet {
      margin: 0;
    }
  }

  &__copyright {
    font-size: 16px;
    margin: 0;
  }
}
